apiVersion: apps/v1
kind: Deployment
metadata: { name: flask-app, namespace: final }
spec:
  replicas: 1
  selector: { matchLabels: { app: flask-app } }
  template:
    metadata: { labels: { app: flask-app } }
    spec:
      serviceAccountName: clo835
      containers:
      - name: flask-app
        image: 533267189120.dkr.ecr.us-east-1.amazonaws.com/clo835-group1-final-repo:latest
        imagePullPolicy: Always
        ports: [{ containerPort: 81 }]
        envFrom: [{ secretRef: { name: aws-creds } }]
        env:
        - name: DB_HOST
          valueFrom: { configMapKeyRef: { name: app-config, key: db-host } }
        - name: S3_BUCKET
          valueFrom: { configMapKeyRef: { name: app-config, key: s3-bucket } }
        - name: S3_IMAGE_FILENAME
          valueFrom: { configMapKeyRef: { name: app-config, key: s3-image-filename } }
        - name: STUDENT_NAME
          valueFrom: { configMapKeyRef: { name: app-config, key: student-name } }
